# === AniPlay Configuration ===
# The local path where your media files are stored
DEFAULT_LIBRARY_PATH=

# === Discord RPC Thumbnails ===
# Options: "copyparty" or "imgur"
IMAGE_HOSTER=imgur

# Copyparty Credentials (if using copyparty)
COPYPARTY_URL=
COPYPARTY_USER=
COPYPARTY_PWD=

# Imgur Credentials (if using imgur)
IMGUR_CLIENT_ID=

# === Media Preferences ===
# Comma-separated language codes (e.g., jpn, eng, pol)
PREFERRED_AUDIO=jpn
PREFERRED_SUBTITLE=eng